body {
  background-image:url(/img/background.png);
  background-repeat:repeat-y;
  background-position: top;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  
  margin: 15%;
  font-style: italic;
  text-align:center;
}

a {
  color: deeppink;
  cursor: pointer; 
}
.button{
  display: block;
    margin : auto;
}
img{
  display:block;
width:auto;
margin-left:auto;
margin-right:auto;
}
.langue{
  margin-left:auto;
margin-right:auto;
}


